.wrapperLogin {
  min-height: 100vh;
  align-content: center;
}
.containerLogin {
  margin: 0 auto;
  margin-top: 32px;
}

.mainLogin {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.imageSectionWrapper {
  display: flex;
  height: calc(650px - 64px);
  width: 380px;
  justify-content: end;
  align-items: center;
  margin-right: 32px;
  background-image: url(../../assets/home-phones.png);
  background-size: 468.32px 634.15px;
  background-position: -46px 0;
  background-repeat: no-repeat;
}
.imageSection {
  width: 250px;
  height: 540px;
  overflow: hidden;
  margin-right: 18px;
  border-radius: 20px;
}

.mockupImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -124px 0px;
  transform: scale(1.2);
}

.formSectionLogin {
  display: flex;
  width: 350px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}

.formLogin {
  padding-top: 20px;
}
.inputLoginWrapper {
  margin-bottom: 6px;
  position: relative;
}

.forgotPassword {
  margin: 5px 0 25px;
}
.forgotPassword a {
  text-decoration: none;
  color: #00376b;
  font-size: 14px;
}

.errorMessage {
  display: inline-block;
  width: 270px;
  margin: 10px 0;
  font-size: 14px;
  color: #ED4956;
}

.passStatus {
  margin-left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.passStatus:hover {
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}
.passStatusText {
  font-weight: 600;
  font-size: 14px;

}


