.sidebar {
  position: relative;
  height: 100vh;
  width: 244px;
  padding: 8px 12px 20px;
  border-right: 1px solid rgb(219, 219, 219);
  background-color: #fff;
  transition: width 0.5s ease-in-out;
  box-sizing: border-box;
  z-index: 9999;
}
.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}
.sidebarContainerChange {
  width: 72px;
}
.sidebarWrapper {
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
}

.itemNavLink {
  text-decoration: none;
  color: #000000;
}

.itemNavBtn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.iconCustom {
  font-size: 24px;
  padding: 12px;
}

.itemNavName {
  display: inline-block;
  width: auto;
  overflow: hidden;
  transition: max-width 1.5s ease-in-out, opacity 1.5s ease-in-out;
  padding-left: 16px;
  font-size: 16px;
  opacity: 1;
}
.itemNameToggle {
  width: 0;
  padding-left: 0;
  opacity: 0;
}

.iconLogo {
  position: absolute;
  left: 3px;
  top: 15px;
  font-size: 24px;
  padding: 12px;
  margin: 4px 0;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.sidebarLogo {
  position: relative;
  height: 92px;
  cursor: pointer;
}

.sidebarLogoHead {
  height: 73px;
  box-sizing: border-box;
  padding: 25px 12px 16px;
  margin-bottom: 19px;
  opacity: 1;
  transition: width 0.5s ease-in-out, opacity 1.5s ease-in-out;
}

.logoSidebar {
  background-image: url("../../../assets/logo.png");
  background-position: 0px -30px;
  background-size: 53%;
  width: 196px;
  height: 100%;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.sidebarLinkItem {
  list-style: none;
  border-radius: 8px;
  height: 48px;
  cursor: pointer;
  margin: 4px 0;
}

.sidebarLinkItem:hover {
  background-color: #f2f2f2;
}

.sidebarLinkItem:active {
  opacity: 0.5;
}

.activeItemNav {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  font-weight: 700;
}

.changeIconLogo {
  transform: scale(1);
}
.changeLogoImg {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

@media (max-width: 1262px) {
  .sidebar {
    width: 72px;
  }
  .sidebarLogoHead {
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  .iconLogo {
    transform: scale(1);
  }
  .itemNavName {
    width: 0;
    padding-left: 0;
    opacity: 0;
  }
}

@media (max-width: 766px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(219, 219, 219);
  }
  .sidebarContainer {
    display: none;
  }
  .sidebarMobile {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
  }
  .sidebarMobileItem {
    font-size: 24px;
    padding: 8px;
  }
}
