.containerFooter {
    color: #737373;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 0 16px;
    margin-bottom: 52px;
}
.affiliateTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

.tagItem {
    text-decoration: none;
    color: #737373;
    margin: 0 12px 8px;
}

.languageSettings {
    margin: 12px 0;
    display: flex;
}
.selectLanguage {
    font-size: 12px;
    border: none;
    color: #737373;
}
.publish {
    margin-left: 16px;
}