.radioTagsMemtions {
}
.settingTagsMentionsItem {
    margin: 16px 0 ;
}
.tagsMentionsItemDescription {
    margin: 8px 0 12px;
}
.selectInputTagsMentions {
    border: 1px solid #dbdbdb;
    padding: 0 16px;
    border-radius: 20px;
}
.selectInputTagsMentionsItem {
    padding: 22px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectInputTagsMentionsItem i {
    color: #737373;

}
